
body {
  font: 400 12px 'Roboto', 'sans-serif';
  background: #ABB7B7;
  margin: 0, auto;
}

.draftBoard {
  display: flex;
  align-items: baseline; 
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 1vh;
}

.draftBoard-header {
  font-size: 16px;
  font-weight: 900;
}

.draftBoard-header-allPlayers{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin: auto;
  align-items: center
}

.draftBoard-header-allPlayers-title{
  font-size: 16px;
  width: 120px;
}
.draftBoard-header-allPlayers-button{
  background-color: #96281B;
  /* border: 1px solid #674172; */
  border-radius: px;
  /* box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2); */
  color: white;
  padding: 4px 4px;
  font-size: 14px;
  margin: 0 2px;
  /* vertical-align: 8px;  */
}