.header{
  font: 400 18px 'Roboto', 'sans-serif';
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-around;
  margin: auto;
  align-items: flex-start;
  background-color: #22313F;
  line-height: 4vh;
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.header-undoButton{
  background-color: #96281B;
  /* border: 1px solid #674172; */
  border-radius: px;
  /* box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2); */
  color: white;
  padding: 4px 4px;
  font-size: 14px;
  margin: 0 2px;
  /* vertical-align: 8px;  */
  align-items: flex-end;
}

.header-undoButton:hover{
  cursor: pointer;
}