.playerCell{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px hidden;
  border-width: thick;
  padding: 0 0.75em 0 0.75em;
}

.playerCell:hover{
  background-color: #013243;
  color: white;
}

.draftedPlayers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.75em 0 0.75em;
}

.RB {
  background-color: rgba(145,180,150, .9);
}
.WR {
  background-color: rgba(37, 116, 169, .5);
}
.QB {
  background-color: rgba(207, 0, 15, .5);
}
.TE {
  background-color: rgba(247, 202, 24, .5);
}
.DEF {
  background-color: rgba(103, 65, 114, .5)
}

.playerCell:last-child{
  border-radius: 0 0 4px 4px;
}
.playerCell:nth-child(2){
  border-radius: 4px 4px 0 0;
}
  
.draftedPlayers:last-child{
  border-radius: 0 0 4px 4px;
}
.draftedPlayers:nth-child(2){
  border-radius: 4px 4px 0 0;
}
  